@model WebBanDienThoai.Models.BillDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết đơn hàng</h2>

<div>
    <h4>DonHang</h4>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Mã sản phẩm</th>
                <th scope="col">Tên san phẩm</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.lstCart)
            {
                <tr>
                    <th scope="row">@item.iMaSP</th>
                    <td>@item.sTenSP</td>
                    <td>@item.dDonGia</td>
                    <td>@item.iSoLuong</td>
                    <td>@item.dThanhTien</td>
                </tr>
            }


        </tbody>
    </table>


</div>
<p>
    <button> @Html.ActionLink("Xác nhận đơn hàng", "Confirm", new { id = Model.bill.ID }) </button>
    <button>@Html.ActionLink("Back to List", "Index")</button>
    
</p>


















@*<div>
        <h4>BILL</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateBuy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateBuy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Account.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Account.NAME)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
